# Nothing is allowed in this project aside from the exceptions below
/*

# The .gitignore is allowed
!/.gitignore

# The README is allowed
!/README.md

# Only workflows in the workflows directory are allowed
!/.github/
/.github/*
!/.github/workflows/
!/.github/workflows/*

# No subdirectories in the workflows directory
/.github/workflows/*/
