name: Changelog PR Check

on:
  workflow_call:

env:
  # GitHub doesn't allow using environment variables within other environment variables
  CHANGELOG_FILENAME: "CHANGELOG.md"
  SKIP_KEYWORD: "skip-changelog"
  CHECK_FAIL_HEADER: "**Changelog Check Failed**"
  UPDATE_CHANGELOG_MESSAGE: "Please update CHANGELOG.md with your changes"
  BYPASS_OPTION_MESSAGE: "Alternatively, include skip-changelog in a PR comment to bypass this check"

jobs:
  check-changelog:
    name: "Changelog Modification/Bypass Check"
    runs-on: ubuntu-latest
    steps:
      - name: "Validate Run"
        id: validate-run
        shell: bash
        run: |
          should_run="false"

          # Only run this workflow for PR changes or when the owner comments
          # the skip keyword on the PR
          if [[ "${{ github.event_name }}" == "pull_request" ]] ||
             ([[ -n "${{ github.event.issue.pull_request }}" ]] &&
             [[ "${{ github.event.comment.body }}" == "${{ env.SKIP_KEYWORD }}" ]]); then
            should_run=true"
          fi

          echo "should_run=$should_run" >> $GITHUB_OUTPUT

      - name: "Generate GitHub App Token"
        if: ${{ steps.validate-run.outputs.should_run == 'true' }}
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ inputs.app_id }}
          private-key: ${{ inputs.app_private_key }}

      - name: "Set Pending Status"
        if: ${{ steps.validate-run.outputs.should_run == 'true' }}
        id: pr-status
        uses: HBK-MicroStrain-Internal/actions/pull-request-commit-check@main
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: "${{ env.CHANGELOG_FILENAME }} Modification Check"
        if: ${{ steps.validate-run.outputs.should_run == 'true' }}
        id: changelog-modified
        shell: bash
        run: |
          modified="false"

          # Check if ${{ env.CHANGELOG_FILENAME }} was modified
          # The commit SHAs need to not be empty too
          if git diff --name-only "${{ steps.pr-status.outputs.base_sha }}" "${{ steps.pr-status.outputs.base_sha }}" | grep -q "^${{ env.CHANGELOG_FILENAME }}$"; then
            modified="true"
          fi

          echo "modified=$modified" >> $GITHUB_OUTPUT

      - name: "${{ env.CHANGELOG_FILENAME }} Bypass Check"
        if: ${{ steps.validate-run.outputs.should_run == 'true' }}
        id: changelog-bypassed
        uses: actions/github-script@v7
        env:
          PR_ID: ${{ steps.pr-status.outputs.pr_id }}
          PR_OWNER: ${{ steps.pr-status.outputs.pr_owner }}
          SKIP_KEYWORD: ${{ env.SKIP_KEYWORD }}
        with:
          script: |
            const comments = await github.rest.issues.listComments({
              issue_number: process.env.PR_ID,
              owner: context.repo.owner,
              repo: context.repo.repo,
            });

            const has_bypass = comments.data.some(comment =>
              comment.user.login === process.env.PR_OWNER &&
              comment.body.includes(process.env.SKIP_KEYWORD)
            );

            core.setOutput('bypassed', has_bypass);

      - name: "Print Status"
        if: ${{ steps.validate-run.outputs.should_run == 'true' }}
        id: print-status
        shell: bash
        run: |
          if [ "${{ steps.changelog-modified.outputs.modified }}" = "true" ]; then
            echo "✅ ${{ env.CHANGELOG_FILENAME }} has been modified - check passed"
          elif [ "${{ steps.changelog-bypassed.outputs.bypassed }}" = "true" ]; then
            echo "✅ Bypass flag found in a comment - check passed"
          else
            echo "❌ ${{ env.CHANGELOG_FILENAME }} has not been modified"
            echo ""
            echo "${{ env.UPDATE_CHANGELOG_MESSAGE }}."
            echo "${{ env.BYPASS_OPTION_MESSAGE }}."
            exit 1
          fi

      - name: "Update PR Status"
        # Run on success, or failure of the status print step
        # If skipped, validate-run.should_run == false, this will not run
        if: success() || failure()
        uses: HBK-MicroStrain-Internal/actions/pull-request-validation-comment@main
        with:
          token: ${{ steps.app-token.outputs.token }}
          check_name: ${{ env.CHECK_FAIL_HEADER }}
          # This method preserves the newlines properly in the message
          failure_message: >
            ${{ env.UPDATE_CHANGELOG_MESSAGE }} before merging.

            ${{ env.BYPASS_OPTION_MESSAGE }} for this PR.
          pr_id: ${{ steps.pr-status.outputs.pr_id }}
          check_status: ${{ steps.print-status.outcome }}
