name: MSVC Workflow For Language Bindings

on:
  workflow_call:
    inputs:
      job_name:
        description: Name of the job to display in the GitHub UI. I.E. 'Static C++'
        type: string
        required: true
        default: ''

      year:
        description: The MSVC tool year
        type: string
        required: true
        default: '2022'

      arch:
        description: The architecture. x64 or x86
        type: string
        required: true
        default: 'x64'

      preset:
        description: The preset sub-type used for all presets. I.E. 'static' for the static preset
        type: string
        default: ''

      debug:
        description: Enable debug builds
        type: boolean
        default: false

      release:
        description: Enable release builds
        type: boolean
        default: false

      configure_preset:
        description: The preset sub-type used for configuration. I.E. 'tests' for the testing preset
        type: string
        required: true
        default: ''

      build_preset:
        description: The preset sub-type used for the build. I.E. 'static' for the static library preset
        type: string
        required: true
        default: ''

      binding_build_preset:
        description: The preset sub-type used for the binding build. I.E. 'python' for the python binding preset
        type: string
        default: ''

      package_preset:
        description: The preset sub-type used for the packaging. I.E. 'static' for the static package preset
        type: string
        required: true
        default: ''

      package_path:
        description: Path to the directory containing the package files
        type: string
        default: ''

      artifact_match_pattern:
        description: Pattern to match for artifacts to upload
        type: string
        default: '*.zip'

jobs:
  workflow:
    name: "MSVC Binding Workflow"
    uses: ./.github/workflows/base-bindings.yml
    with:
      job_name: "${{ inputs.job_name }} MSVC ${{ inputs.year }} ${{ inputs.arch }}"

      runner_name: windows-latest

      preset_prefix: "msvc-${{ inputs.year }}-${{ inputs.arch }}"

      preset: "${{ inputs.preset }}"

      debug: ${{ inputs.debug }}

      debug_configure_preset_name: "${{ inputs.configure_preset }}"

      debug_build_preset_name: "${{ inputs.build_preset }}-debug"

      debug_binding_build_preset_name: "${{ inputs.binding_build_preset }}-debug"

      release: ${{ inputs.release }}

      release_configure_preset_name: "${{ inputs.configure_preset }}"

      release_build_preset_name: "${{ inputs.build_preset }}-release"

      release_binding_build_preset_name: "${{ inputs.binding_build_preset }}-release"

      debug_package_preset_name: "${{ inputs.package_preset }}-debug"

      release_package_preset_name: "${{ inputs.package_preset }}-release"

      combined_package_preset_name: "${{ inputs.package_preset }}"

      package_path: "${{ inputs.package_path }}"

      artifact_match_pattern: "${{ inputs.artifact_match_pattern }}"
