name: MSVC 2022 x86 Workflow

on:
  workflow_call:
    inputs:
      job_name:
        description: Name of the job to display in the GitHub UI. I.E. 'Static C++'
        type: string
        required: true
        default: ''

      debug:
        description: Enable debug builds
        type: boolean
        default: false

      release:
        description: Enable release builds
        type: boolean
        default: false

      configure_preset:
        description: The preset sub-type used for configuration. I.E. 'tests' for the testing preset
        type: string
        required: true
        default: ''

      build_preset:
        description: The preset sub-type used for the build. I.E. 'static' for the static library preset
        type: string
        required: true
        default: ''

      unit_test:
        description: Enable unit testing
        type: boolean
        default: false

      unit_test_preset:
        description: The preset sub-type used for the unit test. I.E. 'unit-tests' for the unit tests preset
        type: string
        default: 'unit-tests'

      integration_test:
        description: Enable integration testing
        type: boolean
        default: false

      integration_test_preset:
        description: The preset sub-type used for the integration test. I.E. 'integration-tests' for the integration tests preset
        type: string
        default: 'integration-tests'

      package_preset:
        description: The preset sub-type used for the packaging. I.E. 'static' for the static package preset
        type: string
        required: true
        default: ''

      artifact_match_pattern:
        description: Pattern to match for artifacts to upload
        type: string
        default: '*.zip'

jobs:
  workflow:
    name: MSVC 2022 x64 Workflow
    uses: ./.github/workflows/msvc-base.yml@main
    with:
      job_name: ${{ inputs.job_name }}
      year: '2022'
      arch: 'x86'
      debug: ${{ inputs.debug }}
      release: ${{ inputs.release }}
      configure_preset: ${{ inputs.configure_preset }}
      build_preset: ${{ inputs.build_preset }}
      unit_test: ${{ inputs.unit_test }}
      unit_test_preset: ${{ inputs.unit_test_preset }}
      integration_test: ${{ inputs.integration_test }}
      integration_test_preset: ${{ inputs.unit_test_preset }}
      package_preset: ${{ inputs.unit_test_preset }}
      artifact_match_pattern: ${{ inputs.artifact_match_pattern }}
